.types-container {
    margin: auto;
    max-width: 630px;
    margin-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
}

.type-icon-cont {
  display: flex;
  flex-direction: column;
}

.type-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.types-container span {
  text-align: center;
  display: block;
  margin-bottom: 12px;
  font-family: var(--main-font-name);
  font-size: 16px;
  color: var(--color-light);
}

.type-art {
  background-image: url(../../cssimages/type_artifact.png);
}

.type-cre {
  background-image: url(../../cssimages/type_creature.png);
}

.type-enc {
  background-image: url(../../cssimages/type_enchantment.png);
}

.type-ins {
  background-image: url(../../cssimages/type_instant.png);
}

.type-lan {
  background-image: url(../../cssimages/type_land.png);
}

.type-pla {
  background-image: url(../../cssimages/type_planeswalker.png);
}

.type-sor {
  background-image: url(../../cssimages/type_sorcery.png);
}
