.docs-wrapper {
  width: 100%;
  margin: 150px 0 0 0;
  display: flex;
  flex-grow: 1;
  background-color: var(--color-light);
}

@media screen and (min-width: 750px) {
  .docs-wrapper {
    margin: 64px 0 0 0;
  }
}

.docs-sidebar {
  display: flex;
  min-width: 240px;
  max-width: 240px;
  overflow-x: hidden;
  margin-top: 24px;
  margin-left: 24px;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid 1px var(--color-mid-66);
}

.docs-sidebar-dragger {
  cursor: e-resize;
  min-width: 2px;
}

.docs-sidebar-content {
  flex-grow: 1;
  width: auto;
}

.docs-main {
  width: calc(100% - 241px);
  font-family: var(--main-font-name);
  font-size: 16px;
  margin: 0 32px 24px 32px;
  color: var(--color-back);
}

.docs-main img {
  max-width: 100%;
  max-width: -moz-available;
  max-width: -webkit-fill-available; 
  max-width: fill-available;
}

.docs-main a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 4px;
  color: #efae4e;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
  line-height: inherit;
}

.docs-main a:hover {
  text-decoration: underline;
}

.docs-main code {
  background-color: var(--color-mid-20);
  padding: 1px 4px;
  border-radius: 2px;
}

.docs-main blockquote {
  padding: 0 1em;
  color: var(--color-b);
  margin: 1em 0;
  border-left: .25em solid var(--color-mid-40);
}

.anchor-link {
  background-image: url(../../cssimages/link.svg);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: contain;
  opacity: 0;
  transition: all 250ms;
}

.anchor-link:hover {
  opacity: 0.8;
}

.anchor-h1 {
  width: 24px;
  height: 24px;
}

.anchor-h2 {
  width: 20px;
  height: 20px;
}

.anchor-h3 {
  width: 16px;
  height: 16px;
}

.docs-section-title {
  color: var(--color-back);
  border-radius: 2px;
  font-family: var(--main-font-name-bold);
  height: 32px;
  line-height: 32px;
  margin: 0px 20px;
  opacity: 1;
}

.docs-section-link {
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  margin: 0 12px;
  opacity: 0.8;
}

.docs-section-link a {
  text-align: left;
  margin: 0 8px;
  text-decoration: none;
  color: var(--color-back);
  font-family: var(--main-font-name);
  line-height: 32px;
}

.docs-section-link:hover {
  opacity: 1;
}

.docs-section-link-active {
  background-color: var(--color-mid-20);
}

.docs-code {
  border-radius: 1px;
  margin: auto 4px;
  padding: 4px;
  display: inline-block;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.25);
}

.docs-text {
  display: inline-block;
  margin: 8px 0;
}

.top-logo {
  display: block;
  width: 32px;
  height: 32px;
}