.wildcards-cost {
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.wildcard-icon-cont {
  margin: 0 12px;
}

.wildcards-icon {
  width: 24px;
  height: 24px;
}

.wildcards-cost span {
  text-align: center;
  display: block;
  margin-bottom: 12px;
  font-family: var(--main-font-name);
  font-size: 16px;
  color: var(--color-light);
}

.wc-common {
  background-image: url(../../assets/cssimages/wc_common.png);
}

.wc-uncommon {
  background-image: url(../../assets/cssimages/wc_uncommon.png);
}

.wc-rare {
  background-image: url(../../assets/cssimages/wc_rare.png);
}

.wc-mythic {
  background-image: url(../../assets/cssimages/wc_mythic.png);
}