@media screen and (min-width: 1120px) {
  .match-feed {
    width: 1024px;
    height: 536px;
    margin: auto;
  }
}

@media screen and (min-width: 750px) {
  .match-feed {
    margin: 0 48px;
    max-width: 900px;
  }
}

.match-feed {
  margin: auto;
  box-shadow: 0px 5px 20px 1px #00000059;
  overflow: hidden;
}

.match-brief {
  height: 0px;
  background-color: var(--color-back-alpha);
  border-bottom: 0px solid var(--color-mid-50);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.match-brief-open {
  border-bottom: 1px solid var(--color-mid-50) !important;
  height: 74px !important;
}

.rank-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
}
