@media screen and (min-width: 1120px) {
  .match-feed {
    width: 1024px;
    height: 536px;
    margin: auto;
  }
}

@media screen and (min-width: 750px) {
  .match-feed {
    margin: 0 48px;
    max-width: 900px;
  }
}

.match-feed {
  margin: auto;
  box-shadow: 0px 5px 20px 1px #00000059;
  overflow: hidden;
}

.match-brief {
  height: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  display: flex;
  background-color: var(--color-back-alpha);
  border-bottom: 0px solid var(--color-mid-50);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.match-brief-open {
  border-bottom: 1px solid var(--color-mid-50) !important;
  height: 64px !important;
  margin-bottom: 2px !important;
}

.match-brief-flex {
  display: flex;
}

.match-brief-middleflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  height: 48px;
}

.match-brief-column {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 8px;
  width: calc((100% - 200px) / 3);
}

.match-brief-tile {
  width: 200px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 5%;
}

.match-brief-result {
  font-family: var(--main-font-name-bold);
  font-size: 20px;
}

.match-brief-title {
  white-space: nowrap;
  display: flex;
  font-family: var(--main-font-name);
}

.match-brief-subtitle {
  white-space: nowrap;
  font-family: var(--main-font-name-it);
  color: var(--color-light-66);
}

.rank-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
}

.rank-small {
  display: flex;
}

.constructed-rank {
  background: url(../../cssimages/ranks_constructed_48.png);
}

.limited-rank {
  background: url(../../cssimages/ranks_limited_48.png);
}

.constructed-rank, .limited-rank {
  width: 48px;
  height: 48px;
}