@media screen and (min-width: 680px) {
  .nav-logo {
    background-position-x: -22px;
  }
  .nav-artist {
    line-height: 64px !important;
  }
  .top-nav {
    display: flex;
    height: 64px;
  }
  .nav-link-a {
    line-height: 64px;
  }
  .nav-links {
    padding-bottom: 0px;
  }
  .nav-divider {
    display: block !important;
  }
}

.top-nav-container {
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
}

.top-nav {
  text-align: center;
  justify-content: space-between;
  max-width: 1200px;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0 3em;
}

.nav-bar {
  display: flex;
  height: 64px;
  margin: auto 48px;
  justify-content: space-between;
}

.nav-logo-container {
  display: flex;
}

.nav-logo {
  margin: auto;
  background-image: url(../../cssimages/logo_big.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 320px;
}

.nav-artist {
  color: var(--color-light);
  font-family: var(--main-font-name-it);
  opacity: 0.7;
  line-height: 32px;
  margin-left: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-divider {
  display: none;
  border-right: 1px solid var(--color-light);
  height: 32px;
  margin: auto 8px auto 16px;
  opacity: 0.8;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.nav-link-a {
  white-space: nowrap;
  color: var(--color-light);
  font-family: var(--main-font-name);
  line-height: 32px;
  margin: auto 8px;
  opacity: 0.8;
  text-decoration: none;
}

.nav-link-a:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

