.draft-view-grid {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 16px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "controls controls"
    "draft deck";
}

.draft_title {
  margin-bottom: 8px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 1.33em;
  color: var(--color-text);
  font-family: var(--sub-font-name-it);
}

.draft-container {
  flex-direction: column;
  display: flex;
  flex-grow: 2;
}

@media screen and (min-width: 900px) {
  .draft-container{
      flex-direction: row;
  }
  .draft-deck-view {
    max-width: 350px;
  }
}

.draft-view {
  display: grid;
  height: auto;
  justify-content: center;
}

.draft-deck-view {
  width: -webkit-fill-available;
}

.draft-card {
  border-radius: 9px;
  margin: 8px auto;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.draft-card-picked {
  border: 2px solid var(--color-r);
  margin: 6px auto;
}

.draft-card:hover {
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}

.draft-card-cont {
  display: block;
}

.draft-card-rank {
  margin: auto;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--color-back);
  text-align: center;
  line-height: 24px;
  border: 1px solid var(--color-mid-20);
  border-radius: 2px;
}