@media screen and (min-width: 750px) {
  .top-title-container {
    margin: 4em auto auto auto !important;
  }
}

.top-title-container {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 1.33em;
  margin: 7em auto auto auto;
  height: auto;
  color: #fae5d2;
  padding-bottom: 16px;
  font-family: var(--sub-font-name-it);
}

.top-subtitle-container {
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-size: 1em;
  margin: auto;
  height: auto;
  color: #fae5d2;
  padding-bottom: 8px;
  font-family: var(--sub-font-name-it);
}
