@media screen and (min-width: 1200px) {
  .cont-margin {
    margin: 1em auto !important;
  }
}

.cont-margin {
  max-width: 1200px;
  margin: 1em;
  width: calc(100% - 2em);
}

@media (max-width: 700px) {
  .showcase-image {
    transform: translateY(0px) !important;
  }
}

@media screen and (min-width: 700px) {
  .showcase-container {
    flex-direction: row !important;
  }
  .showcase-desc {
    margin: 1em !important;
    width: 50%;
    align-items: inherit !important;
  }
  .showcase-description-right {
    text-align: right !important;
  }
  .showcase-title-right {
    text-align: right !important;
  }
  .showcase-description-left {
    text-align: left !important;
  }
  .showcase-title-left {
    text-align: left !important;
  }
}

.showcase-container {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.showcase-download-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.showcase-overlay-cont {
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 707px;
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
  transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.showcase-image {
  margin: 1em 0;
  width: 1036px;
  height: 734px;
  box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.35);
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
  transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.showcase-desc {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase-description-right, .showcase-description-left {
  text-align: center;
  font-weight: 100;
  font-family: var(--main-font-name);
  font-size: 1.5rem;
}

.showcase-title-right, .showcase-title-left {
  text-align: center;
  font-family: var(--main-font-name);
  font-size: 2rem;
  padding: 0 0 0.25em 0;
}

.comunity-support {
  font-family: var(--main-font-name-it);
  font-size: 1.2em;
  text-align: center;
}

.community-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.patreon-icon {
  cursor: pointer;
  margin: 0.6em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
}

.contributor {
  cursor: pointer;
  margin: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  border: 1px solid var(--color-section-hover);
}

.contributor:hover {
  border-color: var(--color-button);
}

.patreon-icon:hover {
  border-color: var(--color-button);
}

.icon-casual {
  border: 2px solid var(--color-b);
}

.icon-standard {
  border: 2px solid var(--color-mythic);
}

.icon-modern {
  border: 2px solid var(--color-rare);
}

.icon-legacy {
  border: 2px solid var(--color-uncommon);
}
