.loading-div {
  pointer-events: none;
  background-image: url(../../cssimages/icon-256.png);
  background-size: contain;
  z-index: 50;
  width: 4em;
  height: 4em;
  position: fixed;
  left: calc(50% - 2em);
  top: calc(50% - 2em);
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.59, 1.81, 0.63, 0.88);
  /*
  animation-name: spin, grow;
  animation-duration: 1500ms, 700ms;
  animation-delay: 700ms, 0ms;
  animation-iteration-count: infinite, 1;
  animation-timing-function: cubic-bezier(0.59, 1.81, 0.63, 0.88), cubic-bezier(0.59, 1.81, 0.63, 0.88);
  */
}

@keyframes grow {
  0% { transform: scale(0) rotate(0deg); }
  100% { transform: scale(1) rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

