.video-container {
    box-shadow: 0px 5px 20px 1px #00000059;
    overflow: hidden;
    margin: auto;
}

.video-div {
    width: -webkit-fill-available;
    margin: auto;
    display: block;
}

.video-button {
    pointer-events: none;
    position: relative;
    margin: auto;
    top: -48px;
    cursor: pointer;
    background-position: calc(100% - 24px);
    z-index: 10;
    opacity: 0.75;
    max-width: 1024px;
    height: 32px;
    -webkit-transition: all .2s ease-in;
}

.button-play {
    background: url(../../cssimages/play.png) no-repeat;
}

.button-pause {
    background: url(../../cssimages/pause.png) no-repeat;
}
