.form-icon {
  background-image: url(../../cssimages/icon-256.png);
  background-color: var(--color-light);
  border-radius: 7em;
  background-size: contain;
  width: 7em;
  height: 7em;
  position: relative;
  margin: auto auto -7em auto;
  top: -7em;
}

.form-authenticate {
  max-width: 18.9em;
  width: -webkit-fill-available;
  margin: 9em auto 2em auto;
  background-color: var(--color-light);
  padding: 3.5em 2em 2em 2em;
  border-radius: 3px;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.3);
}

.form-label {
  font-family: var(--main-font-name);
  color: var(--color-back);
  margin: auto 0;
}

.form-input-container {
  display: flex;
  height: 32px;
  width: 100%;
  padding: 4px 0 12px 0;
}

.form-input-container input {
  background-color: var(--color-mid-40);
  border: 1px solid var(--color-mid-50);
  display: inline-table;
  border-radius: 5px;
  color: var(--color-back);
  height: 22px;
  width: 100%;
  font-size: 15px;
  padding: 6px;
  user-select: none;
  font-family: var(--main-font-name);
}

.form-input-container input:focus {
  border: 1px solid white;
  outline-style: none;
}

.form-button {
  align-self: center;
  cursor: pointer;
  width: -webkit-fill-available;
  height: 36px;
  border-radius: 3px;
  color: var(--color-light);
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--color-mid-50);
  background-color: var(--color-back);
  -webkit-transition: all .1s ease-in;
  font-family: var(--main-font-name);
  display: block;
  margin: auto;
}

.form-button:hover {
  background-color: var(--color-mid-66);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-mid-50);
}

.form-button:active {
  background-color: var(--color-mid);
  line-height: 34px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.6);
}

.form-error {
  text-align: center;
  line-height: 32px;
  font-family: var(--main-font-name-bold-it);
  color: var(--color-r);
  width: 19em;
  height: 32px;
  margin: 0px auto;
  -webkit-transition: all .3s ease-in;
}
