.button-simple {
  align-self: center;
  line-height: 36px;
  cursor: pointer;
  width: 240px;
  height: 36px;
  border-radius: 3px;
  color: var(--color-light);
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--color-mid-50);
  background-color: var(--color-back);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-family: var(--main-font-name);
  display: block;
  margin: 8px auto 8px auto;
}

.button-simple:hover {
  background-color: var(--color-mid-66);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-mid-50);
}

.archetype-selector {
  width: -webkit-fill-available;
  width: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
}

.archetype-colors {
  display: flex;
  margin: 2px auto;
  width: fit-content;
}

.archetype-info {
  height: 50%;
  background-color: var(--color-shade-75);
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.archetype-div {
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 8px;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}

.archetype-selector {
  left: 16px;
  top: 16px;
  position: fixed;
  height: auto;
  width: 230px;
}

.metagame-nav {
  max-width: 1024px;
  width: calc(100% - 128px);
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: solid 1px var(--color-mid-40);
}

.metagame-nav a {
  color: var(--color-light) !important;
  font-family: var(--main-font-name) !important;
  line-height: 32px !important;
  margin: auto 8px !important;
  opacity: 0.8 !important;
  text-decoration: none !important;
}

.metagame-nav a:hover {
  opacity: 1 !important;
  text-decoration: underline !important;
}

.metagame-div {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  flex-grow: 2;
}

.metagame-div a {
  color: inherit;
  margin-top: inherit;
  font-size: inherit;
  font-family: inherit;
  display: inherit;
  text-align: inherit;
  text-decoration: none;
}

.archetype-desc {
  font-size: 11px;
}

.decklist-div {
  flex-direction: column;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: 600px;
  margin: 16px auto 32px auto;
  padding: 0 32px;
  text-align: center;
}

.archetype-decks-list-div {
  margin: 0 32px;
}

.archetype-decks-div {
  flex-direction: column;
  display: flex;
}

@media screen and (min-width: 800px) {
  .archetype-decks-div {
    flex-direction: initial;
  }
  .decklist-div {
    padding: 0;
    padding-left: 24px;
    margin: 24px 24px 24px auto;
  }
  .archetype-decks-list-div {
    max-width: 400px;
    width: 50%;
    margin: 24px auto 24px 24px;
    padding-right: 24px;
  }
}

.deck-link {
  cursor: pointer;
  display: flex !important;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  font-size: 14px !important;
  font-family: var(--sub-font-name-it) !important;
  text-decoration: none !important;
  margin-top: 0px !important;
}

.deck-link:hover {
  text-decoration: underline !important;
}

.deck-link-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: inherit;
  width: min-content;
  color: var(--colo-text);
  margin-left: 8px;
  margin-right: 4px;
  overflow: hidden;
}

.deck-link-wr {
  white-space: nowrap;
  text-decoration: inherit;
  width: min-content;
  color: var(--colo-text);
  margin-left: auto;
  overflow: hidden;
}

.deck-link-colors {
  display: flex;
  height: fit-content;
}

.deck-desc {
  font-family: var(--main-font-name);
  text-align: center;
  margin: auto;
  color: var(--colo-text);
  margin-bottom: 8px;
}

.deck-desc-b {
  font-family: var(--sub-font-name-it);
  opacity: 0.8;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: var(--colo-text);
  margin-bottom: 16px;
}

.deck-container {
  overflow: hidden;
  width: 600px;
  margin: auto;
  height: 0px;
  flex-direction: column;
  margin-bottom: 16px;
}

.deck-name {
  color: var(--colo-text);
  text-align: center;
  cursor: pointer;
  margin: 4px;
}
