.regular-view-grid {
  margin-bottom: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "deck types"
    "deck curves"
    "deck pies"
    "deck rarities"
    "deck .";
}

.pie_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px auto;
  height: 160px;
}

.pie_container_outer {
  width: 100%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  margin: 16px auto;
  height: 160px;
}

.pie_container span,
.wildcards_cost span,
.types_container span {
  text-align: center;
  display: block;
  margin-bottom: 12px;
  font-family: var(--main-font-name);
  font-size: 16px;
  color: var(--color-text);
}