:root {
  --main-font-name:  'lato', sans-serif;
  --main-font-name-it:  'lato-italic', sans-serif;
  --main-font-name-bold:  'lato-bold', sans-serif;
  --main-font-name-bold-it:  'lato-bold-italic', sans-serif;
  --sub-font-name:  'roboto', sans-serif;
  --sub-font-name-it:  'roboto-italic', sans-serif;
  --sub-font-name-bold:  'roboto-bold', sans-serif;
  --sub-font-name-bold-it:  'roboto-bold-italic', sans-serif;
  --main-font-style-it: normal;

  --color-w: #e7ca8e;
  --color-u: #aabedf;
  --color-b: #a18e87;
  --color-r: #dd8263;
  --color-g: #b7c89e;
  --color-c: #b6a59e;
  --color-m: #ffcd70;

  --color-common: #e6e6e6;
  --color-uncommon: #bedbff;
  --color-rare: #fed71d;
  --color-mythic: #dd8263;

  --color-base: #282829;
  --color-hover-base: #252527;
  --color-dark: #141516;
  --color-dark-hover: #000000;

  --color-line-sep: #333333;
  --color-section: #202021;
  --color-section-hover: #29292b;
  --color-section-active: #2E3136;

  --color-text: #CCCCCC;
  --color-text-hover: #FFFFFF;
  --color-text-dark: #929292;
  --color-text-disabled: #505050;
  --color-text-link: #94a8ca;

  --color-icon: #FFFFFF;
  --color-icon-subtle: #B9C3D9;

  --color-text-button: #333333;
  --color-text-button-hover: #111111;
  --color-button: #94a8ca;
  --color-button-hover: rgba(175, 205, 255, 1);
  --color-button-shade-20: rgba(175, 205, 255, 0.2);
  --color-button-shade-40: rgba(175, 205, 255, 0.4);

  --color-shade-75: rgba(0, 0, 0, .75);
  --color-shade-50: rgba(0, 0, 0, .5);
  --color-shade-25: rgba(0, 0, 0, .25);

  --color-card-tile: rgba(0, 0, 0, 0.75);
  --color-card-tile-hover: #3a424ebf;
  --color-card-tile-active: #c2d9ffc;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'belerenbold';
    src: url('./assets/fonts/belerenbold.woff') format('woff');
}

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/roboto-v18-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'roboto-italic';
    src: url('./assets/fonts/roboto-v18-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('./assets/fonts/roboto-v18-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'roboto-bold-italic';
    src: url('./assets/fonts/roboto-v18-latin-500italic.woff') format('woff');
}

@font-face {
    font-family: 'lato';
    src: url('./assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'lato-italic';
    src: url('./assets/fonts/Lato-Italic.woff') format('woff');
}

@font-face {
    font-family: 'lato-bold';
    src: url('./assets/fonts/Lato-Bold.woff') format('woff');
}


@font-face {
    font-family: 'lato-bold-italic';
    src: url('./assets/fonts/Lato-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin';
    src: url('./assets/fonts/Mplantin.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin-italic';
    src: url('./assets/fonts/mplantinit.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin-bold';
    src: url('./assets/fonts/mplantinbold.woff') format('woff');
}

@font-face {
    font-family: "PhyrexianHorizontal";
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/PhyrexianHorizontal.woff2') format("woff2"),
      url('./assets/fonts/PhyrexianHorizontal.woff') format("woff");
    font-display: swap;
  }
 
@media screen and (min-width: 750px) {
    .text-description {
        margin: 0 48px;
    }
    .video-container {
        margin: 0 48px;
    }
    .button-pause, .button-play {
        background-position: calc(100% - 64px) !important;
    }
}

@media screen and (min-width: 1024px) {
    .text-description {
        width: 1024px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1120px) {
    .video-container {
        width: 1024px;
        height: 768px;
        margin: auto;
    }
    .button-pause, .button-play {
        background-position: calc(100% - 24px) !important;
    }
}

.text-light {
    color: var(--color-light);
}

.text-dark {
    color: var(--color-back);
    /* #33281E; */
}

.text-centered {
    display: block;
    margin: auto;
}

.text-description {
    text-align: center;
    font-weight: 100;
    font-family: var(--main-font-name);
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

.text-title {
    width: 100%;
    text-align: center;
    font-family: var(--main-font-name);
    font-size: 2rem;
    padding: 1em 0 0.25em 0;
}

.text-title-nopad {
    width: 100%;
    text-align: center;
    font-family: var(--main-font-name);
    font-size: 2rem;
}

  