.docsWrapper {
  width: 100%;
  margin: 0;
  padding-top: 64px;
  display: flex;
  flex-grow: 1;
  background-color: var(--color-base);
  min-height: calc(100vh - 69px);
}

@media screen and (max-width: 750px) {
  .docsWrapper {
    padding-top: 128px !important;
  }
}


.docsSidebar {
  display: flex;
  min-width: 240px;
  max-width: 240px;
  overflow-x: hidden;
  margin-top: 24px;
  margin-left: 24px;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid 1px var(--color-line-sep);
}

.docsSidebarDragger {
  cursor: e-resize;
  min-width: 2px;
}

.docsSidebarContent {
  flex-grow: 1;
  width: auto;
}

.docsMain {
  width: calc(100% - 241px);
  font-family: var(--main-font-name);
  font-size: 16px;
  margin: 0 32px 24px 32px;
  color: var(--color-text);

  img {
    max-width: 100%;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    // margin: 0 4px;
    color: var(--color-text-link);
    font-size: inherit;
    display: inline-block;
    font-family: inherit;
    line-height: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  code {
    background-color: var(--color-section);
    padding: 1px 4px;
    border-radius: 2px;
  }

  // code {
  //   border-radius: 1px;
  //   margin: auto 4px;
  //   padding: 4px;
  //   display: inline-block;
  //   font-family: monospace;
  //   background-color: rgba(0, 0, 0, 0.25);
  // }

  blockquote {
    padding: 0 1em;
    color: var(--color-text-dark);
    margin: 1em 0;
    border-left: 0.25em solid var(--color-line-sep);
  }

  h1, h2 {
    border-bottom: 1px solid var(--color-line-sep);
  }

  h1::after {
    background-image: url(/cssimages/link.svg);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size: contain;
    opacity: 0.5;
    transition: all 250ms;
    position: relative;
    width: 24px;
    height: 24px;
  
    &:hover {
      opacity: 0.8;
    }
  }

  h2 {
    font-size: 1.3em;
  }
}

.docsSectionTitle {
  color: var(--color-text);
  border-radius: 2px;
  font-family: var(--main-font-name-bold);
  height: 32px;
  line-height: 32px;
  margin: 0px 20px;
  opacity: 1;
}

.docsSectionLink {
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  margin: 0 12px;
  opacity: 0.66;

  &:hover {
    opacity: 1;
    background-color: var(--color-section-hover);
  }

  a {
    text-align: left;
    margin: 0 8px;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--main-font-name);
    line-height: 32px;
  }
}

.docsSectionLinkActive {
  background-color: var(--color-dark) !important;
}

.docsText {
  display: inline-block;
  margin: 8px 0;
}

.topLogo {
  display: block;
  width: 32px;
  height: 32px;
}
