@media screen and (min-width: 1200px) {
  .contMargin {
    margin: 1em auto !important;
  }
}

.contMargin {
  max-width: 1200px;
  margin: 1em;
  width: calc(100% - 2em);
}

@media (max-width: 700px) {
  .showcaseImage {
    transform: translateY(0px) !important;
  }
}

@media screen and (min-width: 700px) {
  .showcaseContainer {
    flex-direction: row !important;
  }
  .showcaseDesc {
    margin: 1em !important;
    width: 50%;
    align-items: inherit !important;
  }
  .showcaseDescriptionRight {
    text-align: right !important;
  }
  .showcaseTitleRight {
    text-align: right !important;
  }
  .showcaseDescriptionLeft {
    text-align: left !important;
  }
  .showcaseTitleLeft {
    text-align: left !important;
  }
}

@media screen and (max-width: 1250px) {
  .descWrapper {
    .descShowcase,
    .descShowcaseReverse {
      width: 100% !important;
      flex-direction: column !important;
      margin: 2em auto !important;
    }

    .showcaseSvg {
      margin: 0 auto 2em auto !important;
    }
  }
}

@media screen and (max-width: 750px) {
  .showcaseSvg {
    transform: scale(75%);
    margin: 0 auto 1em auto !important;
  }

  .showcaseFeature {
    border-left: none !important;
    border-top: 4px solid var(--color-g);
    height: 10em !important;
  }
  
  .showcaseFeatureRight {
    border-right: none !important;
    border-top: 4px solid var(--color-g);
    height: 10em !important;
  }
  
}

@media screen and (max-width: 540px) {
  .showcaseSvg {
    transform: scale(50%);
    margin: 0 auto 0 auto !important;
  }
}

.showcaseSvg {
  width: 100vw;
}

.showcaseFeature {
  background-color: var(--color-section);
  border-left: 4px solid var(--color-g);
  border-radius: 4px;
  padding: 16px;
  max-width: 32em;
  height: 9em;
  margin: auto;
}

.showcaseFeatureRight {
  background-color: var(--color-section);
  border-right: 4px solid var(--color-g);
  border-radius: 4px;
  padding: 16px;
  max-width: 32em;
  height: 9em;
  margin: auto;
}

.descWrapper {
  width: 100%;
  margin-bottom: 2em;
  flex-direction: column;

  .descShowcase {
    display: flex;
    margin: 4em auto;
  }

  .descShowcaseReverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 4em auto;
  }
}

.showcaseContainer {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.showcaseDownloadContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.showcaseOverlayCont {
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 707px;
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
  transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.showcaseImage {
  margin: 1em 0;
  width: 1036px;
  height: 734px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
  transition: all 0.15s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.showcaseDesc {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcaseDescriptionRight,
.showcaseDescriptionLeft {
  text-align: center;
  font-weight: 100;
  font-family: var(--main-font-name);
  font-size: 1.5rem;
}

.showcaseTitleRight,
.showcaseTitleLeft {
  text-align: center;
  font-family: var(--main-font-name);
  font-size: 2rem;
  padding: 0 0 0.25em 0;
}

.comunitySupport {
  font-family: var(--main-font-name-it);
  font-size: 1.2em;
  text-align: center;
}

.communityIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.patreonIcon {
  cursor: pointer;
  margin: 0.6em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
}

.contributor {
  cursor: pointer;
  margin: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  border: 1px solid var(--color-section-hover);
}

.contributor:hover {
  border-color: var(--color-button);
}

.patreonIcon:hover {
  border-color: var(--color-button);
}

.iconCasual {
  border: 2px solid var(--color-b);
}

.iconStandard {
  border: 2px solid var(--color-mythic);
}

.iconModern {
  border: 2px solid var(--color-rare);
}

.iconLegacy {
  border: 2px solid var(--color-uncommon);
}
