.wrapperOuter {
  justify-content: center;
  flex-direction: column;
  color: var(--color-text);
  flex-grow: 2;
  overflow: hidden;
}

.wrapperOuterLight {
  justify-content: center;
  flex-direction: column;
  background-color: #ecddce;
  color: var(--color-back);
  flex-grow: 2;
  overflow: hidden;
}

.wrapperOuterDark {
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-base);
  color: var(--color-text);
  flex-grow: 2;
  overflow: hidden;
}

.wrapperInner {
  margin: auto;
  flex-grow: 2;
  width: 100%;
  max-width: 1200px;
}

.wrapperInnerCentered {
  margin: auto;
  max-width: 1200px;
  width: -webkit-fill-available;
  width: -moz-available;
  flex-grow: 2;
}

.link {
  color: var(--color-text-link);
  margin-top: 10px;
  font-size: 1rem;
  font-family: var(--sub-font-name);
  display: block;
  text-align: center;
}
