.wc_common      { background-image: var(--wc_common_png); }
.wc_uncommon    { background-image: var(--wc_uncommon_png); }
.wc_rare        { background-image: var(--wc_rare_png); }
.wc_mythic      { background-image: var(--wc_mythic_png); }
.wc_booster     { background-image: var(--booster_png); height: 34px; line-height: 34px; }

.wc_explore_cost {
  font-family:  var(--sub-font-name);
  color: var(--color-text);
  width: 40px;
  line-height: 96px;
  height: 64px;
  text-align: center;
  margin: auto 4px;
  background-position: center 4px;
  background-repeat: no-repeat;
}

.bo_explore_cost {
  font-family:  var(--sub-font-name);
  color: var(--color-text);
  width: 40px;
  line-height: 96px;
  height: 64px;
  text-align: center;
  background-position: center 2px;
  background-repeat: no-repeat;
  background-image: url(../../assets/cssimages/booster.png);
}